@inherits LayoutComponentBase

<body>
    <NavMenu />

    <div class="container">
        @Body
    </div>
</body>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container mt-4 mb-4">
        &copy; 2019 - Blazor-Top-Menu
    </div>
</footer>